/* shop  */

#shop {
  padding: 2rem 0rem;
  position: relative;
}
.shop-container {
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-gap: 2rem;
  position: relative;
  align-items: flex-start;
}

.shop-container .shop-contents {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
  position: relative;
}
#shop .shop-dashboard {
  background-color: #f7f7f7;
  padding: 1.5rem;
  position: sticky;
  top: 1%;
}
#shop .cart-container {
  position: relative;
  margin-top: 1.5rem;
}
#shop .shop-dashboard .carts-btn {
  position: relative;
  margin-top: 2rem;
}
.shop-dashboard .carts-btn button {
  width: 100%;
  position: relative;
  padding: 0.5rem;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  outline: none;
  font-family: "poppins", sans-serif;
  margin-bottom: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
}
.shop-dashboard .carts-btn button:last-child {
  background: var(--primary-color-alt);
}
@media (max-width: 600px) {
  .shop-container {
    grid-template-columns: 1fr;
  }
  .shop-contents {
    order: 2;
  }
  #shop .shop-dashboard {
    order: 1;
    position: relative;
  }
}
