/* globals style  */

/* variables  */

:root {
  --primary-color: #65c45f;
  --primary-color-alt: #e5537d;
  --secondary-color: #009cd1;
  --text-color: #222;
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
  font-size: 16px;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}

/* custom classes  */

.container {
  max-width: min(100% - 2rem, 1350px);
  margin-inline: auto;
}
.colorize {
  color: var(--primary-color);
}
